Makefile
autom4te.cache
configure
common/config.h
config.log
config.status
cgi/cosign.cgi
cgi/logout
daemon/cosignd
daemon/monster
filters/apache/mod_cosign.so
filters/apache2/.libs/
filters/common/cosignpaths.h
libsnet/config.h
libsnet/libtool
libsnet/profiled/
version.c
*.a
*.la
*.lo
*.o
*.slo
